doctype html
include ../mixins/dashboard.mixins.pug
html(lang='en')
    head
        meta(charset='UTF-8')
        title Index
        link(rel='icon' href='/images/logo.png' type='image/x-icon')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta11/dist/css/tabler.min.css')
        link(rel='stylesheet' href='https://unpkg.com/leaflet@1.8.0/dist/leaflet.css' integrity='sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==' crossorigin='')
        link(rel='stylesheet' href='/css/index.css')
    body
        header.navbar.navbar-expand-md.navbar-light.d-print-none
            .container-xl
                //
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                h1.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pe-0.pe-md-3
                    a(href="/"): img(src="/images/logo.png" alt="logo" width="110" height="32").navbar-brand-image
                    | Open Weather Monitor
                .navbar-nav.flex-row.order-md-last
                    .d-none.d-md-flex
                        .nav-item.dropdown.d-none.d-md-flex.me-3
                            a.nav-link.px-0(href='#' data-bs-toggle='dropdown' tabindex='-1' aria-label='Show notifications')
                                // Download SVG icon from http://tabler-icons.io/i/bell
                                svg.icon(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                    path(d='M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6')
                                    path(d='M9 17v1a3 3 0 0 0 6 0v-1')
                                span.badge.bg-red
                            .dropdown-menu.dropdown-menu-arrow.dropdown-menu-end.dropdown-menu-card
                                .card
                                    .card-header
                                        h3.card-title Last updates
                                    .list-group.list-group-flush.list-group-hoverable
                                        .list-group-item
                                            .row.align-items-center
                                                .col-auto
                                                    span.status-dot.status-dot-animated.bg-red.d-block
                                                .col.text-truncate
                                                    a.text-body.d-block(href='#') Example 1
                                                    .d-block.text-muted.text-truncate.mt-n1
                                                        | Change deprecated html tags to text decoration classes (#29604)
                                                .col-auto
                                                    a.list-group-item-actions(href='#')
                                                        // Download SVG icon from http://tabler-icons.io/i/star
                                                        svg.icon.text-muted(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                            path(d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z')
                                        .list-group-item
                                            .row.align-items-center
                                                .col-auto
                                                    span.status-dot.d-block
                                                .col.text-truncate
                                                    a.text-body.d-block(href='#') Example 2
                                                    .d-block.text-muted.text-truncate.mt-n1
                                                        | justify-content:between &rArr; justify-content:space-between (#29734)
                                                .col-auto
                                                    a.list-group-item-actions.show(href='#')
                                                        // Download SVG icon from http://tabler-icons.io/i/star
                                                        svg.icon.text-yellow(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                            path(d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z')
                                        .list-group-item
                                            .row.align-items-center
                                                .col-auto
                                                    span.status-dot.d-block
                                                .col.text-truncate
                                                    a.text-body.d-block(href='#') Example 3
                                                    .d-block.text-muted.text-truncate.mt-n1
                                                        | Update change-version.js (#29736)
                                                .col-auto
                                                    a.list-group-item-actions(href='#')
                                                        // Download SVG icon from http://tabler-icons.io/i/star
                                                        svg.icon.text-muted(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                            path(d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z')
                                        .list-group-item
                                            .row.align-items-center
                                                .col-auto
                                                    span.status-dot.status-dot-animated.bg-green.d-block
                                                .col.text-truncate
                                                    a.text-body.d-block(href='#') Example 4
                                                    .d-block.text-muted.text-truncate.mt-n1
                                                        | Regenerate package-lock.json (#29730)
                                                .col-auto
                                                    a.list-group-item-actions(href='#')
                                                        // Download SVG icon from http://tabler-icons.io/i/star
                                                        svg.icon.text-muted(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                            path(d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z')
                    .nav-item.dropdown
                        a.nav-link.d-flex.lh-1.text-reset.p-0(href='#' data-bs-toggle='dropdown' aria-label='Open user menu')
                            span.avatar.avatar-sm(style='background-image: url(./static/avatars/000m.jpg)')
                            .d-none.d-xl-block.ps-2
                                div First Last
                                .mt-1.small.text-muted Role
                        .dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                            a.dropdown-item(href='/dashboard') Dashboard
                            a.dropdown-item(href='/settings') Settings
                            .dropdown-divider
                            a.dropdown-item(href='/logout') Logout
        .page-body.pb-3
            .container
                .row
                    .col
                        .card-tabs
                            // Cards navigation
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(href='#tab-top-1' data-bs-toggle='tab')
                                        svg.icon.icon-tabler.icon-tabler-map.me-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                            polyline(points='3 7 9 4 15 7 21 4 21 17 15 20 9 17 3 20 3 7')
                                            line(x1='9' y1='4' x2='9' y2='17')
                                            line(x1='15' y1='7' x2='15' y2='20')
                                        | Station Map
                                li.nav-item
                                    a.nav-link(href='#tab-top-2' data-bs-toggle='tab')
                                        svg.icon.icon-tabler.icon-tabler-list.me-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                            line(x1='9' y1='6' x2='20' y2='6')
                                            line(x1='9' y1='12' x2='20' y2='12')
                                            line(x1='9' y1='18' x2='20' y2='18')
                                            line(x1='5' y1='6' x2='5' y2='6.01')
                                            line(x1='5' y1='12' x2='5' y2='12.01')
                                            line(x1='5' y1='18' x2='5' y2='18.01')
                                        | Station List
                                li.nav-item
                                    a.nav-link
                                        svg.icon.icon-tabler.icon-tabler-refresh#refreshBtn(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                            path(d='M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4')
                                            path(d='M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4')
                                        // Display inline block to show
                                        div.spinner-border.spinner-border-sm.d-none#refreshSpinner(role="status")

                            .tab-content
                                // Content of card #1
                                #tab-top-1.card.tab-pane.active.show
                                    .card-body
                                        .card-title Simple map
                                        .ratio.ratio-16x9
                                            div
                                                #map
                                // Content of card #2
                                #tab-top-2.card.tab-pane
                                    .card-body
                                        .card-title Select a Station
                                        .ratio.ratio-16x9
                                            .table-responsive
                                                table.table.table-vcenter.text-center
                                                    thead
                                                        tr
                                                            th Index
                                                            th Name
                                                            th Status
                                                            th Lat
                                                            th Lon
                                                            th.w-1
                                                    tbody
                                                        each station, index in stations
                                                            +station-row(index, station.stationId, station.name, station.status, station.loc.lat, station.loc.lon)
                    .col-lg
                        .row.mt-3.mt-lg-0
                            .col-lg
                                .card.card-sm
                                    .card-body
                                        .row.align-items-center
                                            .col-auto
                                                span.bg-purple.text-white.avatar
                                                    svg.icon.icon-tabler.icon-tabler-wind(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                        path(d='M5 8h8.5a2.5 2.5 0 1 0 -2.34 -3.24')
                                                        path(d='M3 12h15.5a2.5 2.5 0 1 1 -2.34 3.24')
                                                        path(d='M4 16h5.5a2.5 2.5 0 1 1 -2.34 3.24')
                                            .col
                                                div Wind Speed
                                                .text-muted#wind-speed Loading...
                                        .row
                                            #wind-peek.chart-sm.h-5.mt-1(style='min-height: 40px;')
                            .col-lg
                                .card.card-sm
                                    .card-body
                                        .row.align-items-center
                                            .col-auto
                                                span.bg-red.text-white.avatar
                                                    svg.icon.icon-tabler.icon-tabler-temperature(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                        path(d='M10 13.5a4 4 0 1 0 4 0v-8.5a2 2 0 0 0 -4 0v8.5')
                                                        line(x1='10' y1='9' x2='14' y2='9')
                                            .col
                                                div Temperature
                                                .text-muted#temperature Loading...
                                        .row
                                            #temp-peek.chart-sm.h-5.mt-1(style='min-height: 40px;')
                        .row.mt-3
                            .col-lg
                                .card.card-sm
                                    .card-body
                                        .row.align-items-center
                                            .col-auto
                                                span.bg-green.text-white.avatar
                                                    svg.icon.icon-tabler.icon-tabler-droplet-filled(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                        path(d='M6.8 11a6 6 0 1 0 10.396 0l-5.197 -8l-5.2 8z')
                                                        path(d='M12 3v17')
                                                        path(d='M12 12l3.544 -3.544')
                                                        path(d='M12 17.3l5.558 -5.558')
                                            .col
                                                div Relative Humidity
                                                .text-muted#rel-humidity Loading...
                                        .row
                                            #humidity-peek.chart-sm.h-5.mt-1(style='min-height: 40px;')
                            .col-lg
                                .card.card-sm
                                    .card-body
                                        .row.align-items-center
                                            .col-auto
                                                span.bg-indigo.text-white.avatar
                                                    svg.icon.icon-tabler.icon-tabler-cloud-rain(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                        path(d='M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7')
                                                        path(d='M11 13v2m0 3v2m4 -5v2m0 3v2')
                                            .col
                                                div Rain Today
                                                .text-muted#rain Loading...
                                        .row
                                            #rain-peek.chart-sm.h-5.mt-1(style='min-height: 40px;')
                .row.mt-3
                    .col
                        .card(style='height: 10rem; background-image: url("https://images.pexels.com/photos/531906/pexels-photo-531906.jpeg?auto=compress&cs=tinysrgb&w=1600");').d-flex.flex-column.justify-content-end
                            h1.p-2.pb-0.mb-0#node-name
                            p.p-2.pt-0#node-loc
                .row.row-deck.mt-3
                    .col-lg-6
                        .card
                            .card-header
                                .card-title Wind Last 4 Hours
                            .card-body
                                #wind-direction-chart.chart-lg
                    .col-lg-6
                        .card
                            .card-header
                                .card-title Temperature
                            .card-body
                                #temperature-chart.chart-lg

        // Import project dependencies
        script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta11/dist/js/tabler.min.js')
        script(src='https://unpkg.com/leaflet@1.8.0/dist/leaflet.js' integrity='sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==' crossorigin='')
        script(src='https://cdn.jsdelivr.net/npm/apexcharts')
        // Import custom scripts
        script(src='/js/clientApi.js')
        script(src='/js/dashboard.js')